In [25]:
import pandas as pd
import numpy as np
import os

In [214]:
df = pd.read_csv('/home/fenris/work/Kamtech/Scrapers/LinkScraper/link1/Banswara.csv', encoding='utf-8')

In [215]:
df['डी.डी. नम्‍बर,राशि (रूपयों में)'] = df['डी.डी. नम्‍बर,राशि (रूपयों में)'].replace('\n',' ', regex=True)
df['Return'] = df['वापस आयी राशि']
df = df.drop(columns=[' विशेष विवरण ',' स्थिति ','अस्पताल का नाम','खर्चे का प्रकार','क्रं.सं.', 'वापस आयी राशि'])
df['नाम व पता एवं आवेदन तिथि'] = df['नाम व पता एवं आवेदन तिथि'].str.replace('ई-स्‍वीकृति पत्र छापें/Download E-Sanction Letter', '')
df['नाम व पता एवं आवेदन तिथि'] = df['नाम व पता एवं आवेदन तिथि'].replace('\n','', regex=True)

In [216]:
df.head()

,नाम व पता एवं आवेदन तिथि,"डी.डी. नम्‍बर,राशि (रूपयों में)",Return
0,श्रीमती प्रिया कुंवर पत्नी श्री भूपेन्‍द्र स...,521095510680 07/04/2021 90000,0
1,"मास्टर मेहुल पुत्र श्री मुकेश डबगर,निवासी डब...",171109491 22/02/2021 412490,0
2,"सुश्री आयत नूर पुत्री श्री मोहम्‍मद सदाम,निवास...",171372633 22/02/2021 412490,0
3,श्री कमल सिंह तॅवर पुत्र श्री पृथ्‍वी सिंह तॅ...,120078707505 19/03/2020 79000,82
4,श्री कुलदीप सिंह कटारा पुत्र श्री विजय सिंह क...,220020509125 21/01/2020 90000,0

In [190]:
# for i in range(len(df['Name'])):
#     df['Name'][i] = str(df['Name'][i][:-3]

In [191]:
df['Name'][0]

KeyError: 'Name'

In [217]:
# df[["Name","Date"]]= 
# df['temp'] = df['नाम व पता एवं आवेदन तिथि'].str.split('\n')
df[['Name', 'a', 'm', 'y']] = df['नाम व पता एवं आवेदन तिथि'].str.split('/', n=3, expand=True)
df['Name'] = df['Name'].str[:-2]

In [208]:
df = df.drop(columns=['नाम व पता एवं आवेदन तिथि'])
df.head()

,"डी.डी. नम्‍बर,राशि (रूपयों में)",Return,Name,a,m,y
0,521095510680 07/04/2021 90000,0,श्रीमती प्रिया कुंवर पत्नी श्री भूपेन्‍द्र स...,02,2021,None
1,171109491 22/02/2021 412490,0,"मास्टर मेहुल पुत्र श्री मुकेश डबगर,निवासी डब...",02,2021,None
2,171372633 22/02/2021 412490,0,"सुश्री आयत नूर पुत्री श्री मोहम्‍मद सदाम,निवास...",02,2021,None
3,120078707505 19/03/2020 79000,82,श्री कमल सिंह तॅवर पुत्र श्री पृथ्‍वी सिंह तॅ...,02,2020,None
4,220020509125 21/01/2020 90000,0,श्री कुलदीप सिंह कटारा पुत्र श्री विजय सिंह क...,11,2019,None

In [218]:
df[['temp','temp2', 'temp3', 'Amount']] = df['डी.डी. नम्‍बर,राशि (रूपयों में)'].str.split(' ', n=3, expand=True)
df = df.drop(columns=['temp', 'temp2', 'temp3', 'डी.डी. नम्‍बर,राशि (रूपयों में)'])

In [159]:
df[['day','month','year']] = df['Date'].str.split('/', n=2, expand=True)
df = df.drop(columns=['day', 'month', 'Date'])

In [219]:
df['NetAmount'] = df['Amount'].astype(int) - df['Return'].astype(int)

In [220]:
# df['year'] = df.Date
# df = df.drop(columns=['a', 'y'])

df

,नाम व पता एवं आवेदन तिथि,Return,Name,a,m,y,Amount,NetAmount
0,श्रीमती प्रिया कुंवर पत्नी श्री भूपेन्‍द्र स...,0,श्रीमती प्रिया कुंवर पत्नी श्री भूपेन्‍द्र स...,02,2021,None,90000,90000
1,"मास्टर मेहुल पुत्र श्री मुकेश डबगर,निवासी डब...",0,"मास्टर मेहुल पुत्र श्री मुकेश डबगर,निवासी डब...",02,2021,None,412490,412490
2,"सुश्री आयत नूर पुत्री श्री मोहम्‍मद सदाम,निवास...",0,"सुश्री आयत नूर पुत्री श्री मोहम्‍मद सदाम,निवास...",02,2021,None,412490,412490
3,श्री कमल सिंह तॅवर पुत्र श्री पृथ्‍वी सिंह तॅ...,82,श्री कमल सिंह तॅवर पुत्र श्री पृथ्‍वी सिंह तॅ...,02,2020,None,79000,78918
4,श्री कुलदीप सिंह कटारा पुत्र श्री विजय सिंह क...,0,श्री कुलदीप सिंह कटारा पुत्र श्री विजय सिंह क...,11,2019,None,90000,90000
...,...,...,...,...,...,...,...,...
121,"श्री कनकमल पुत्र श्री मगन लाल , बांसवाड़ा 2...",0,"श्री कनकमल पुत्र श्री मगन लाल , बांसवाड़ा",09,2001,None,50000,50000
122,"श्री प्रभात जवेरी पुत्र श्री अशोक जवेरी ,निव...",0,"श्री प्रभात जवेरी पुत्र श्री अशोक जवेरी ,निव...",03,2001,None,50000,50000
123,श्रीमती राघा शर्मा पत्नी श्री महेश शर्मा बा...,0,श्रीमती राघा शर्मा पत्नी श्री महेश शर्मा बा...,08,2000,None,20000,20000
124,"श्रीमती रक्षा पत्नी श्री रमेश चन्द्र ,पंचरी...",0,"श्रीमती रक्षा पत्नी श्री रमेश चन्द्र ,पंचरी...",04,2000,None,50000,50000
125,"श्री हरेन्द्र कुमार पुत्र श्री चतुरा भील ,नि...",0,"श्री हरेन्द्र कुमार पुत्र श्री चतुरा भील ,नि...",02,1999,None,25000,25000

In [221]:
df.to_csv('banswara.csv', encoding='utf-8', index=False)

In [9]:
cities = ['Hanumangarh/', 'Karauli/', 'Partap/']
path = './Task 2/'
for i in cities:
#     writer = pd.ExcelWriter(i[:-1]+'.xlsx', engine='xlsxwriter')
#     s2 = 0
#     s3 = 0
    for files in os.listdir(path+i):
        if '2.csv' in path+i+files:
            df = pd.read_csv(path+i+files)
            print(path+i+files)
#             df = df.drop_duplicates()
#             df = df.reset_index()
#             df = df.drop(['textbox5', 'textbox33','textbox36','col06','textbox43', 'textbox11',\
#               'textbox18', 'textbox38', 'district_count', 'textbox13', 'sl_no1',\
#               'textbox29', 'textbox37', 'textbox45', 'textbox30', 'textbox34',\
#               'textbox56'], axis=1)
#             df = df.transpose()
#             df = df.drop_duplicates()
#             df = df.drop(['index'])
#             df.to_excel(writer, sheet_name='2A',startrow = s2, startcol=1, index=False)
#             s2 += 5
        elif '3.csv' in path+i+files:
            df = pd.read_csv(path+i+files)
#             print(path+i+files)
#             df = df.drop_duplicates()
#             df = df.reset_index()
#             df = df.drop(['textbox28', 'textbox78','textbox24','textbox20', 'textbox26',\
#               'textbox23', 'textbox29', 'district_count', 'textbox21', 'sl_no1',\
#               'textbox8', 'textbox58', 'textbox9', 'textbox10', 'textbox12',\
#               'textbox13', 'index'], axis=1)
#             df.textbox76 = df.textbox76.str.replace('Disease Name--', '')
#             df.columns = ['Disease','Cases', 'Death']
#             df = df.transpose()
#             df = df.drop_duplicates()
#             df.to_excel(writer, sheet_name='3A',startrow= s3, startcol=1, index=False)
#             s3 += 5
#     writer.save()

./Task 2/Hanumangarh/16h2.csv
./Task 2/Hanumangarh/14h2.csv
./Task 2/Hanumangarh/17h2.csv
./Task 2/Hanumangarh/15h2.csv
./Task 2/Hanumangarh/19h2.csv
./Task 2/Hanumangarh/18h2.csv
./Task 2/Karauli/19k2.csv
./Task 2/Karauli/17k2.csv
./Task 2/Karauli/15k2.csv
./Task 2/Karauli/14k2.csv
./Task 2/Karauli/18k2.csv
./Task 2/Karauli/16k2.csv
./Task 2/Partap/16p2.csv
./Task 2/Partap/17p2.csv
./Task 2/Partap/14p2.csv
./Task 2/Partap/15p2.csv
./Task 2/Partap/19p2.csv
./Task 2/Partap/18p2.csv

In [163]:
df = pd.read_csv('/home/fenris/work/Internshit/Kamtech/Task 2/Partap/18p2.csv', index_col=False)
df = df.drop_duplicates()
df = df.reset_index()
# df.sort_values("disease_name", inplace=True)
# df = df.drop_duplicates()
df = df.drop(['textbox28', 'textbox78','textbox24','textbox20', 'textbox26',\
              'textbox23', 'textbox29', 'district_count', 'textbox21', 'sl_no1',\
              'textbox8', 'textbox58', 'textbox9', 'textbox10', 'textbox12',\
              'textbox13', 'index'], axis=1)
df.textbox76 = df.textbox76.str.replace('Disease Name--', '')
df.columns = ['Disease','Cases', 'Death']
df = df.transpose()
df = df.drop_duplicates()
df.to_excel('test.xls')

KeyError: "['textbox28' 'textbox78' 'textbox24' 'textbox20' 'textbox26' 'textbox23'\n 'textbox21' 'textbox8' 'textbox58' 'textbox9' 'textbox10' 'textbox12'] not found in axis"

In [166]:
s2 = 0
df = pd.read_csv('/home/fenris/work/Internshit/Kamtech/Task 2/Partap/18p2.csv', index_col=False)
df = df.drop_duplicates()
df = df.reset_index()
df = df.drop(['textbox5', 'textbox33','textbox36','col06','textbox43', 'textbox11',\
  'textbox18', 'textbox38', 'district_count', 'textbox13', 'sl_no1',\
  'textbox29', 'textbox37', 'textbox45', 'textbox30', 'textbox34',\
  'textbox56'], axis=1)
df = df.transpose()
df = df.drop_duplicates()
df = df.drop(['index'])
# df.to_excel(writer, sheet_name='2A',startrow = s2, startcol=1, index=False)
df.to_csv('test.csv')
s2 += 5